### VisualStudioCode ###
.vscode/*

### Jetbrains ###
.idea/*
golang-hands-on.iml

### Go ###
*.exe
*.exe~

### custom ###
config/*

### sonarqube ###
cov.out
report.json
.scannerwork

### swagger ###
docs